:css
	h2 {
		margin-bottom: 0;
		border-bottom: 1px solid black;
	}
= provide :title, @client.name
%fieldset
	%legend Contacts
	- @client.contacts.each do |contact|
		%table
			%tr
				%th{colspan: 2} #{contact}, #{contact.title}
			%tr
				%th Phone:
				%td= contact.formatted_phone
			%tr
				%th Email:
				%td= contact.email
			%tr
				%th Skype:
				%td= contact.skype
			%tr
				%th IM:
				%td= contact.im
			%tr
				%td{colspan: 2}= link_to 'Edit this contact', edit_contact_path(contact)
= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
