:css
	h2 {
		margin-bottom: 0;
		border-bottom: 1px solid black;
	}
= provide :title, @client.name
%p.client_type= "Type: #{client_type}"
= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Black', clients_path
