= provide :title, 'Contacts'

%table
  %thead
    %tr
      %th Name
      %th.hide-for-small Title
      %th Email
      %th Phone
      %th Client
      %th.hide-for-small Type
      %th{colspan: 3} Actions
  - @contacts.each do |contact|
    - @current_class = contact
    %tr
      %td= contact.name
      %td.hide-for-small= contact.title
      %td= contact.email
      %td= contact.formatted_phone
      %td= contact.client_name
      %td.hide-for-small= contact.contact_type_name
      = render 'common/index_links'

%br

= link_to 'New Contact', new_contact_path
