= provide :title, @contact.name
%h3 #{@contact.title}, #{@contact.client.name}
%fieldset
  %legend Contact Information
  %p Email Address: #{@contact.email}
  %p Phone: #{@contact.phone}
  %p Skype: #{@contact.skype}
  %p IM: #{@contact.im}

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
