- if user_signed_in?
  %li.divider
  %li.has-dropdown
    = link_to "Hello, #{current_user.username}!", "#"
    %ul.dropdown
      %li= link_to "Edit My Account", edit_user_registration_path
      %li= link_to 'Log out', destroy_user_session_path, :method => :delete
- else
  %li.divider
  %li= link_to "Log in", new_user_session_path
