:ruby
	@legend_title = content_for?(:title) ? yield(:title) : "Untitled"
	@submit_title = content_for?(:submitmsg) ? yield(:submitmsg) : yield(:title)

-# Edit Client
- if current_page? controller: 'clients', action: 'edit'
	= simple_form_for(@client) do |f|
		%fieldset
			%legend= @legend_title
			%div.form-inputs
				= f.input :name
				= f.input :client_type_id, as: :select, collection: ClientType.all
			%div.form-actions
				= f.button :submit
-# Edit Client Type
- if current_page? controller: 'client_types', action: 'edit'
	= simple_form_for(@client_type) do |f|
		%fieldset
			%legend= @legend_title
			%div.form-inputs
				= f.input :name
			%div.form-actions
				= f.button :submit
