/ Navigation bar
%nav.top-bar
  %ul.title-area
    %li.name
      %h1= link_to "#{InvoicesConfig::AppDetails::NAME}", '/'
    / Remove the class "menu-icon" to get rid of the menu icon.  Take out "Menu" to just have the icon alone.
    %li.toggle-topbar.menu-icon
      = link_to 'Menu', ''
  %section.top-bar-section
    %ul.left
      %li.divider
      %li= link_to "Home", '/'
      -# Clients
      %li.has-dropdown.not-click
        = link_to 'Clients', '/clients' if user_signed_in?
        %ul.dropdown
          %li= link_to 'Manage Client Types', client_types_path
      -# Contacts
      %li.has-dropdown
        = link_to 'Contacts', '/contacts' if user_signed_in?
        %ul.dropdown
          %li= link_to "Manage Contact Types", contact_types_path
      -# Tasks
      %li= link_to 'Tasks', '/tasks' if user_signed_in?
    / Right nav section
    %ul.right
      = render 'common/auth_button'
