/ Navigation bar
%nav.top-bar
  / Title area
  %ul.title-area
    %li.name
      %h1
        %a{href: '#'} #{InvoicesConfig::AppDetails::NAME}
  / Section
  %section.top-bar-section
    %ul.left
      %li.divider
      %li
        = link_to "Home", '/'
      -# Clients
      %li.has-dropdown
        = link_to "Clients", '/clients' if user_signed_in?
        %ul.dropdown
          %li= link_to "Manage Client Types", client_types_path
    %ul.right
      = render 'common/auth_button'
